*{
  background-color: rgb(225, 204, 245);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.clock{
  background-color: rgb(222, 157, 252);
  padding: 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #ccc; 
  border-radius: 10px;
}

.title{
  background-color: rgb(222, 157, 252);
}

.mainTitle{
  color:rgb(75, 21, 100);
  margin: 1% 3% 0px 3%;
}
